@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* Global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.page {
  padding: 1rem;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 41px;
}

a {
  color: rgb(184, 5, 5);
  text-decoration: none;
}

/* ul {
  margin-left: 1.5rem;
  list-style: none;
} */

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0;
} */

/* Header */
#header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3rem;
  background: #f2f2f2;
  border: 0.5px solid #cdd347;
  border-radius: 15px;
}

#header .title {
  margin: 0;
  color: #000;
  width: 20%;
}

#header .auth-options {
  height: 50%;
  display: flex;
}
#header .auth-options button {
  padding: 0 1rem;
  color: #eb2e18;
  font-size: 1.2rem;
}
#header .auth-options button:hover {
  color: #528540;
}

@media screen and (max-width: 550px) {
  #header .title {
  }
  #header .auth-options button {
    font-size: 1rem;
    padding: 0 0.3rem;
  }
  a {
    width: 30%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .logo-image img {
    width: 10%;
  }
  .MuiGrid-justify-xs-center {
    margin-top: 40px;
  }
}

/* Index page */

/* vision */
.MuiBox-root-1 {
  display: flex;
  flex-direction: row;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 15px;
  /* padding: 40px 16px; */
  padding: 40px 10px;
}
.MuiBox-root-3 {
  margin-left: 60px;
}

.index-vision h1 {
  color: #528540;
}

.index-vision h2 {
  color: #528540;
}

.index-vision p {
  color: #528540;
}

/* mission */
.MuiBox-root-4 {
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 15px;
  padding: 40px 10px;
  margin: 10px 0;
}
.MuiBox-root-6 {
  margin-left: 60px;
}

.index-mission h1 {
  color: #eb2e18;
}

.index-mission h2 {
  color: #eb2e18;
}

.index-mission p {
  color: #eb2e18;
}

/* values */
.MuiBox-root-7 {
  display: flex;
  flex-direction: row;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 40px 10px;
}
.MuiBox-root-9 {
  margin-left: 60px;
}

.index-values h1 {
  color: #528540;
}

.index-values h2 {
  color: #528540;
}

.index-values p {
  color: #528540;
}

/* Login page */

.login-form {
  display: flex;
  flex-direction: column;
}

.MuiButton-containedPrimary {
  background-color: #528540 !important;
  margin-top: 20px !important;
}

/* Register page */

.register-form {
  display: flex;
  flex-direction: column;
}
